{% extends "./base.html" %}
{% load static %}

{% block head %}
    
    <link id="style" rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}



{% block body %}

{% if user.is_authenticated %}
    <!-- Contenido para usuarios autenticados -->

<div class="container d-flex justify-content-center align-items-center">
  <div class="containerAgregar p-4 m-4">
    <div class="container mt-3">
        <h1>Formulario</h1>
        <h3>Agregar productos</h3>
    </div>
    <div class="container d-flex justify-content-center">
    <form  id="agregarProductoForm" action="/agregarProductoForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      <div class="container mt-5 mb-5">
        <div class="row">
  
  
          <div class="col-md-3">
            <label for="txtSku">SKU</label>
            <input type="number" class="form-control" name="txtSku" id="txtSku">
          </div>
  
          <div class="col-md-3">
            <label for="txtPrecio">Precio</label>
              <input type="number" class="form-control" name="txtPrecio" id="txtPrecio">
          </div>
  
          <div class="col-md-6">
            <label for="txtNombre">Nombre</label>
            <input type="text" class="form-control" name="txtNombre" id="txtNombre">
          </div>
  
  
          <div class="col-md-12">
            <label for="txtDescripcion">Descripcion</label>
            <input type="text" class="form-control" name="txtDescripcion" id="txtDescripcion">
          </div>
  
  
          <div class="col-md-3">
                <label for="txtStock">Stock</label>
              <input type="number" class="form-control" name="txtStock" id="txtStock">
              
          </div>

          <div class="col-md-3">
                    <label for="cmbCategoria">Categoria:</label>
                    <select name="cmbCategoria" id="cmbCategoria" class="form-select" aria-label="Default select example">
                        <option disabled selected>Seleccione</option>
                        {% for c in cate %}
                        <option value="{{c.id_categoria}}">{{c.nombre_categoria}}</option>
                        {% endfor %}
                      </select>

            </div>
          
  
          <div class="col-md-6 mb-5">
                <label for="txtImg">Imagen</label>
                <input name="txtImg" id="txtImg" type="file" class="form-control">
          </div>

          <button type="submit"class="btn btn-success">Guardar</button>
          <a href="{% url 'v_editar' %}" class="btn btn-outline-dark mt-3" >Editar producto existente</a>

        
        </form>
    </div>
  </div>
</div>
</div>
</div>



{% else %}
<div class="container mt-5 d-flex justify-content-center">
  <h2>No tiene permisos para acceder a esta página. Por favor, inicie sesión.<h2>
</div>
<div class="container mt-2 d-flex justify-content-center">
  <a href="{% url 'v_login' %}" class="btn btn-success">Iniciar Sesión</a>
</div>


{% endif %}

{% endblock %}


{% block script %}
<script src="{% static 'js/agregarProducto.js' %}"></script>
{% endblock %}